<?xml version="1.0" encoding="utf-8"?>
<!-- ATTENTION, le versionCode ne doit être incrémenté que pour l'ultime compilation en release pour publication,
     PAS pour les tests, car cette valeur pourrait être utilisée pour signaler automatiquement une mise à jour disponible -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.srombauts.sjlb"
      android:versionCode="72"
      android:versionName="0.7.2">
<!--  android:installLocation="auto" : seulement à partir de l'API level 8 -->
      
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" /> 
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Juliette est en 7  (2.1-update1)
         Les autres   en 10 (2.3.3+) -->
    <uses-sdk android:minSdkVersion="7"       
              android:targetSdkVersion="11" /> <!-- 11 (3.0, Honeycomb) permet d'utiliser l'ActionBar sur une tablette -->
    
    <application android:name=".ApplicationSJLB"
                 android:label="@string/app_name"
                 android:icon="@drawable/launcher_icon" >
            <!-- android:debuggable="false" : géré automatiquement par Eclipse --> 
        
        <activity android:name=".gui.ActivityMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.ActivityForumSubjects" />
        <activity android:name=".gui.ActivityForumMessages"
            android:windowSoftInputMode="adjustPan">
            >
        </activity>
        <activity android:name=".gui.ActivityFiles" />
        <activity android:name=".gui.ActivityPrivateMessages" />
        <activity android:name=".gui.ActivityPrivateMessagesSent" />
        <activity android:name=".gui.ActivityUsers" />
        <activity android:name=".gui.ActivityNewPrivateMessage" />
        <activity android:name=".gui.ActivityPreferences" />
	    <receiver android:name=".service.IntentReceiverStartService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="fr.srombauts.sjlb.ACTION_REFRESH_ALARM" />
            </intent-filter>
	    </receiver>
	    <service android:name=".service.ServiceSJLB" />
        <provider android:name=".db.ContentProviderUser"
                  android:authorities="fr.srombauts.sjlb.user"
        />
        <provider android:name=".db.ContentProviderPM"
                  android:authorities="fr.srombauts.sjlb.pm"
        />
        <provider android:name=".db.ContentProviderSubj"
                  android:authorities="fr.srombauts.sjlb.subj"
        />
        <provider android:name=".db.ContentProviderMsg"
                  android:authorities="fr.srombauts.sjlb.msg"
        />
        <provider android:name=".db.ContentProviderFile"
                  android:authorities="fr.srombauts.sjlb.file"
        />
    </application>

</manifest> 